.menuCard{
    /* margin-left: 15px; */
}
.card{
        width: 25rem;
        margin-left: 80px;
}
.card-body p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.paratext{
    text-align: left;
}
.obtn{
    width: 360px;
    height: 40px;
    font-size: 15px;
    border: none;
    color: #930035;
    border: 1px solid black;
    background-color: white;
}
.obtn:hover{
    color: #930035;
    background-color: #FFB600;
    border: none;
}